@import url('~@fontsource/anton');
@import url('~@fontsource/poppins');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
	.text-anton {
		font-family: 'Anton', sans-serif;
	}
	.text-poppins {
		font-family: 'Poppins', sans-serif;
	}
}


body {
	@apply bg-wheat;
	@apply text-darkgrey;
	@apply text-poppins;
}
